---
title: 'Abners Quality Painting | Home | Broken Arrow, OK'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<!--NOTE: There is a spacing note on Tablet about adjusting the marign top of the section to match the height of whatever navbar you add on top of it-->

<section id="hero-2174">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/hero1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/hero1.jpg">
                <img decoding="async" src="/assets/images/hero1.jpg" alt="people at a wedding" width="1058" height="936">
            </picture>
            <div class="cs-wrapper">
                <h2 class="cs-title" style="color: black;">Quality Paint Affordable Price</h2>
                <div class="cs-flex">
                    <p class="cs-text">
                        We are a small local business that does Residential and Commercial Quality Painting
                    </p>
                    <a href="tel:+1(918)734-3625" class="cs-button-solid">Call Now</a>
                </div>
            </div>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="/assets/images/hero2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="/assets/images/hero2.jpg">
                <img decoding="async" src="/assets/images/hero2.jpg" alt="bride" width="350" height="936">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-2174">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="tel:+1(918)734-3625" class="cs-link">
                    <h3 class="cs-h3">
                        <img class="cs-icon" src="/assets/svgs/home.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        Residential
                    </h3>
                    <p class="cs-item-text">
                        We do exterior and interior residential properties.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:+1(918)734-3625" class="cs-link">
                    <h3 class="cs-h3">
                        <img class="cs-icon" src="/assets/svgs/commercial.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        Commercial
                    </h3>
                    <p class="cs-item-text">
                        Commercial property? No problem, we have you covered.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:+1(918)734-3625" class="cs-link">
                    <h3 class="cs-h3">
                        <img class="cs-icon" src="/assets/svgs/paint.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        Custom
                    </h3>
                    <p class="cs-item-text">
                        The possibilties are endless, give us a call and see what we can do for you today.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/back.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/back.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/back.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/front.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/front.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/front.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Abners Quality Painting</h2>
                <p class="cs-text">
                    We have worked with countless beautiful homes, renovating and updating the look and feel. Claremore's highschool softball field looks fresh and clean after we touched up many of their exterior commercial buildings among many other projects. We powerwash and clean all surfaces while prepping for any new job. We beleive that preparation is key for a Quality Paint. We Seal, Clear Coat, Glaze, Stain, Weather-Proof and much more!
                </p>

                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Call us today for a free Estimate!
                    </p>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="tel:+1(918)734-3625" class="cs-button-solid">Call Now</a>
            </div>
        </div>
    </section>


<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-2234">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Gallery</span>
                <h2 class="cs-title">We Take Pride In Our Quality</h2>
            </div>
            <div class="cs-flex">
                <!-- <p class="cs-text">
                    We have courses on-demand and live instructors for workshops and support. We also provide LIVE instructor-led training courses and onsite training.
                </p> -->
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal1.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal1.jpg" alt="formerly dress you people outside" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-2">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal2.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal2.jpg" alt="formal dinner" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-3">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal3.jpg" alt="formerly dress you people outside" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-4">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal4.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal4.jpg" alt="recital" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-5">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal5.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal5.jpg" alt="formal evening" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-6">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal-middle.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal-middle.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal-middle.jpg" alt="formal dinner" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-7">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal7.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal7.jpg" alt="formerly dress you people outside" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-8">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal8.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal8.jpg" alt="formal dinner" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-9">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal9.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal9.jpg" alt="formerly dress you people outside" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-10">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal10.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal10.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal10.jpg" alt="recital" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-11">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal11.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal11.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal11.jpg" alt="formal evening" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-12">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal12.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal12.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal12.jpg" alt="formal dinner" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-13">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal6.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal6.jpg" alt="formal dinner" width="380" height="271">
            </picture>
        </div>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Abner's Painting did an excellent job of painting the exterior of my home. The previous paint job was done in 2009 so it was in severe need of repainting. His team was able to repair damage to siding and trim caused by a poor roof installation (bad roofer 2020) saving replacement costs of thousands of dollars. The home looks new again. He and his team were respectful, clean and helpful. Abner answered all my questions. He always answered phone calls and texts within 24 hours. I highly recommend Abner's Quality Painting for exterior paint needs. He also does interior painting but I didn't need that, but I am sure I would have been very happy with that also.
                    </p>
                    <span class="cs-reviewer">
                        R Robinson
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Abner and his team of painters are professional and provide outstanding results! We are beyond pleased with the quality of painting they provided. Their attention to detail comes natural to them and they worked their magic with our tragic previous paint job. 10/10 would recommend!
                    </p>
                    <span class="cs-reviewer">
                        Leslie Duncan
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <!-- <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a> -->
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}